<header>
  <%= link_to logo, 'home' %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", 'home' %></li>
      <li><%= link_to "Aide", 'help' %></li>
      <li><%= link_to "Connexion", '#' %></li>
    </ul>
  </nav>
</header>